<h1> Grupo: <%= @group.name%></h1>

<h1> Mensagens: </h1>

<div>
    <%@group.messages.each do |message| %>
        <div>
            <%= message.content%><br>
            Enviador por: <%= message.user%>
        </div>
    <%end%>
</div>

<!--> Adicionar form para comentário que recarrega essa pagina