<div>
    <%@groups.each do |group| %>
        <div>
            <h1>Grupo: <%= group.name%></h1>
                Criado por: <%= User.find(group.owner_id).name%><br>
                Assunto: <%= group.category%><br>
                <%= button_to "Mandar Convite", "/web/groups/#{group.id}/invites", method: :post%>
        </div>
    <%end%>
</div>

<a href = '/main'>Voltar</a>